* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', serif;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  height: 600px;
  background-image: url('./background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-bottom: 1px solid #d3be53;
  color: white;
  font-weight: bold;
}

.title {
  font-size: 60px;
  font-family: 'Codystar', serif;
}

.subtitle {
  font-size: 18px;
  font-style: oblique;
  text-align: center;
}

.menu {
  display: flex;
}

.menu > div {
  margin-left: 10px;
}

a:visited {
  color: white;
}

a {
  color: white;
}

.section-title {
  position: absolute;
  top: 20px;
  left: auto;
  right: auto;
  font-size: 30px;
  font-style: normal;
  font-weight: bold;
  color: black;
  font-family: 'Codystar', serif;
  border-bottom: 2px #d3be53 solid;
  padding-bottom: 5px;
}

.about {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 600px;
  margin: auto;
  padding: 40px 0;
  font-size: 20px;
  font-style: oblique;
  text-align: justify;
  align-items: center;
  border-bottom: 1px solid #d3be53;
}

.description {
  width: 50%;
}

.items {
  display: flex;
  justify-content: center;
  padding-top: 60px;
}

.item {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  margin: 0 40px;
  border: 3px solid #d3be53;
}

.item.jongle {
  background-image: url('./jongle.jpg');
  background-size: cover;
  background-position: center;
}

.item.game {
  background-image: url('./game.jpg');
  background-size: cover;
  background-position: center;
}

.item.spectacle {
  background-image: url('./spectacle.jpg');
  background-size: cover;
  background-position: center;
}

.photos {
  position: relative;
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #d3be53;
  display: none;
}

.photo {
  font-size: 20px;
  font-style: oblique;
}

.links {
  position: relative;
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #d3be53;
  background-color: #eeee;
}

.link {
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  margin: 0 40px;
  border: 3px solid #d3be53;
  background-color: white;
}

.cirkouest {
  background-image: url('./logos/cirkouest.png');
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
}

.roulemaboule {
  background-image: url('./logos/roulemaboule.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.chapitotebo {
  background-image: url('./logos/chapitotebo.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #006401;
}

.ratsmasseursdeballes {
  background-image: url('./logos/ratsmasseursdeballes.gif');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.chapiteauaucoeur {
  background-image: url('./logos/chapiteauaucoeur.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.contacts {
  position: relative;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #d3be53;
}

.values {
  margin-right: 20px;
}

.map {
  margin-left: 20px;
  text-align: center;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  text-align: center;
  height: 40px;
}
